<center>
  <table
    align='center'
    border='0'
    cellpadding='0'
    cellspacing='0'
    height='100%'
    width='100%'
    id='v1m_3438953361143974757m_4916088137164360190x_bodyTable'
    style='border-collapse: collapse; height: 100%; margin: 0px; padding: 0px; width: 100%; border-collapse: collapse; width: 100%; height: 100%; margin: 0; padding: 0; background-color: #c0d3e2'
  >
    <tbody>
      <tr>
        <td
          align='center'
          valign='top'
          id='v1m_3438953361143974757m_4916088137164360190x_bodyCell'
          style='height: 100%; margin: 0px; padding: 0px; width: 100%; width: 100%; height: 100%; margin: 0; padding: 0; border-top: 0'
        >
          <table
            border='0'
            cellpadding='0'
            cellspacing='0'
            width='100%'
            style='border-collapse: collapse; border-collapse: collapse'
          >
            <tbody>
              <tr>
                <td
                  align='center'
                  valign='top'
                  style='background-color: transparent; border-top: 0; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px'
                >
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                    style='border-collapse: collapse; max-width: 600px!important; border-collapse: collapse; width: 100%; max-width: 600px!important; background-color: #ffffff'
                  >
                    <tbody>
                      <tr>
                        <td valign='top'>
                          <table
                            align='left'
                            border='0'
                            cellpadding='0'
                            cellspacing='0'
                            width='600'
                            style='border-collapse: collapse; width: 600px; border-collapse: collapse'
                          >
                            <tbody>
                              <tr>
                                <td
                                  valign='top'
                                  style='font-size: 16px; line-height: 110%; font-family: Helvetica,Arial,sans-serif; color: #666666'
                                >
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1637317284/$6vth8qjtr48'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <table
                                            border='0'
                                            cellpadding='0'
                                            cellspacing='0'
                                            role='presentation'
                                            style='vertical-align:top;'
                                            width='100%'
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  align='center'
                                                  style='font-size:0px;padding:0px 25px 0px 25px;word-break:break-word;'
                                                >
                                                  <div
                                                    style='font-family:Arial, sans-serif;font-size:14px;line-height:28px;text-align:center;color:#55575d;'
                                                  >
                                                    <h1>Olá, {{name}}</h1>
                                                    <h4>Vimos que você deseja excluir sua conta na Pinguim</h4>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <table
                                            border='0'
                                            cellpadding='0'
                                            cellspacing='0'
                                            role='presentation'
                                            style='vertical-align:top;'
                                            width='100%'
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  align='center'
                                                  style='font-size:0px;padding:0px 25px 0px 25px;word-break:break-word;'
                                                >
                                                  <div
                                                    style='font-family:Arial, sans-serif;font-size:14px;line-height:28px;text-align:center;color:#55575d;'
                                                  >Caso confirme a excluisão da sua conta
                                                    <ul>
                                                      <li>Você perderá todos os destinos que adicionou em sua lista de
                                                        desejos e suas avaliações vão sumir</li>
                                                      <li>
                                                        Todas as suas postagens, comentãrios e iteracões com outros
                                                        usuários vão sumir, incluindo suas conversas no chat.
                                                      </li>
                                                      <li>
                                                        Você perderá seu acesso ao app. Para acessar e conhecer pessoas
                                                        e lugares novamente terá que criar uma conta nova.
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td
                                                  align='center'
                                                  style='font-size:0px;padding:0px 25px 0px 25px;word-break:break-word;'
                                                >
                                                  <div
                                                    style='font-family:Arial, sans-serif;font-size:14px;line-height:28px;text-align:center;color:#55575d;'
                                                  >Caso tenha certeza de que é isso que realmente deseja, clique no
                                                    botão abaixo</div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td
                                                  align='center'
                                                  vertical-align='middle'
                                                  style='font-size:0px;padding:10px 25px;word-break:break-word;'
                                                >
                                                  <table
                                                    border='0'
                                                    cellpadding='0'
                                                    cellspacing='0'
                                                    role='presentation'
                                                    style='border-collapse:separate;width:300px;line-height:100%;'
                                                  >
                                                    <tr>
                                                      <td
                                                        align='center'
                                                        bgcolor='#FF365A'
                                                        role='presentation'
                                                        style='border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#FF365A;'
                                                        valign='middle'
                                                      >
                                                        <a
                                                          href='{{url}}'
                                                          style='display:inline-block;width:250px;background:#FF365A;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:17px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;'
                                                          target='_blank'
                                                        > EXCLUIR CONTA </a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td
                                                  align='center'
                                                  style='font-size:0px;padding:0px 25px 0px 25px;word-break:break-word;'
                                                >
                                                  <div
                                                    style='font-family:Arial, sans-serif;font-size:12px;line-height:28px;text-align:center;color:#55575d;'
                                                  >*Este link tem duração de 1 hora, após esse tempo será necessario
                                                    requisitar uma nova exclusão
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1631730370/$umkqrg40imc'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>