<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinguim | E-mail confirmado</title>
</head>
<body style="margin: 0; padding: 0;">
  <table style="border: 1px solid transparent" align="center" border="1" cellpadding="0" cellspacing="0" width="600">
    <tr>
     <td style="text-align: center;">
      <img style="margin-top: 20px;" src="https://static.pinguim.tur.br/cms/pinguim-logo.png" alt="Logo do Pinguim">
      <h1 style="color: #000068; font-size: 40px; font-weight: 600;">Bem vindo {{name}}!</h1>
      <p style="font-size: 32px; font-weight: 600; color: #000068;">Obrigado por se registrar. Seu email foi validado com sucesso!</p>
      <p style="font-size: 32px; font-weight: 600; color: #000068;">E aí, vamos viajar juntos? Te espero no APP.</p>
    </td>
    </tr>
    <tr>
     <td style="text-align: center; color: #000068;font-size: 18px; margin-top: 3%;opacity: 0.35;">
      <p>© 2022 PINGUIM. Todos direitos reservados.</p>
     </td>
    </tr>
   </table>
</body>
</html>