<center>
  <table
    align='center'
    border='0'
    cellpadding='0'
    cellspacing='0'
    height='100%'
    width='100%'
    id='v1m_3438953361143974757m_4916088137164360190x_bodyTable'
    style='border-collapse: collapse; height: 100%; margin: 0px; padding: 0px; width: 100%; border-collapse: collapse; width: 100%; height: 100%; margin: 0; padding: 0; background-color: #c0d3e2'
  >
    <tbody>
      <tr>
        <td
          align='center'
          valign='top'
          id='v1m_3438953361143974757m_4916088137164360190x_bodyCell'
          style='height: 100%; margin: 0px; padding: 0px; width: 100%; width: 100%; height: 100%; margin: 0; padding: 0; border-top: 0'
        >
          <table
            border='0'
            cellpadding='0'
            cellspacing='0'
            width='100%'
            style='border-collapse: collapse; border-collapse: collapse'
          >
            <tbody>
              <tr>
                <td
                  align='center'
                  valign='top'
                  style='background-color: transparent; border-top: 0; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px'
                >
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                    style='border-collapse: collapse; max-width: 600px!important; border-collapse: collapse; width: 100%; max-width: 600px!important; background-color: #ffffff'
                  >
                    <tbody>
                      <tr>
                        <td valign='top'>
                          <table
                            align='left'
                            border='0'
                            cellpadding='0'
                            cellspacing='0'
                            width='600'
                            style='border-collapse: collapse; width: 600px; border-collapse: collapse'
                          >
                            <tbody>
                              <tr>
                                <td
                                  valign='top'
                                  style='font-size: 16px; line-height: 110%; font-family: Helvetica,Arial,sans-serif; color: #666666'
                                >
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1637317284/$6vth8qjtr48'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='font-size: 16px; line-height: 150%; font-family: Helvetica,Arial,sans-serif; color: #666666; padding: 9px 18px; word-break: break-word!important'
                                        >
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'><span
                                              style='font-size: 20px; color: #052482'
                                            ><strong>Olá,</strong></span></p>
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'><strong>Você
                                              recebeu um convite especial!
                                              <br />
                                            </strong><br />
                                            Você foi convidado para o
                                            <strong>Pinguim</strong>. Isso significa que alguém achou que você gostaria
                                            de criar seu perfil viajante e viajar muito mundão afora.<span
                                            >&nbsp;</span></p>
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'>Usando esse
                                            convite, você poderá ter acesso a nossa
                                            <strong>comunidade de viajantes</strong>,
                                            <strong>encontrar companhia para seu próximo destino dos sonhos e também
                                              organizar e comprar suas viagens</strong>
                                            pelo Pinguim.<span>&nbsp;</span></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    border='0'
                                    cellpadding='0'
                                    cellspacing='0'
                                    width='100%'
                                    style='border-collapse: collapse; background-color: transparent; min-width: 100%; border-collapse: collapse'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          valign='top'
                                          align='center'
                                          style='padding-top: 9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px'
                                        >
                                          <table
                                            border='0'
                                            cellpadding='0'
                                            cellspacing='0'
                                            style='border-collapse: collapse; border-collapse: separate!important; border: 0px none #000000; border-radius: 4px; background-color: #ffa3b4'
                                          >
                                            <tbody>
                                              <tr>
                                                <td
                                                  align='center'
                                                  valign='middle'
                                                  style='font-family: Arial,Helvetica,sans-serif; font-size: 16px; padding: 14px'
                                                >
                                                  <a
                                                    href='{{url}}'
                                                    style='letter-spacing: normal; font-style: normal; line-height: 100%; text-align: center; text-decoration: none; color: rgb(1,21,125); display: block; word-break: break-word!important'
                                                    target='_blank'
                                                    rel='noreferrer'
                                                  ><b>Crie seu perfil no Pinguim → </b></a></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='font-size: 16px; line-height: 150%; font-family: Helvetica,Arial,sans-serif; color: #666666; padding: 9px 18px; word-break: break-word!important'
                                        >
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='font-size: 16px; line-height: 150%; font-family: Helvetica,Arial,sans-serif; color: #666666; padding: 9px 18px; word-break: break-word!important'
                                        >
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'><span
                                              style='font-weight: 400; font-size: 16px'
                                            >Espero conhecer seu perfil viajante em breve, ah, e se quiser entender um
                                              pouco mais sobre o app, montamos um material para lhe ajudar, é só&nbsp;<span
                                                style='color: #f0c0c9'
                                              ><strong><a
                                                    href='https://t.rdsv1.net/ls/click?upn=3Jc8XqIzQ82ld3wZqD-2BgS01Y34x2EcreG3ugb4rz-2BiNumul4waTQkdJmG-2FYo5H96ixPzMh-2FF2JLsIWZBBklJ3kjoWUnH2-2Bi-2FiFBFM9eQghHa95rLyqUaCjVK3xCBS8j5Z-2BiGiU2GIRbX1ng16ZdWqg-3D-3DyyIL_lVFKehpyM1X4gp-2F1jw0ydd7m9B4Mk1-2Fx-2F6K2nsS7ql2nfnR7YD3QLUwF0J60Us6wRyoVgkcf3IqhYbys5EeJhXbwuDaWkO9z523DCbNK4d-2FM7JZ2P3PsNTUAuEz2bl-2FPaV-2Bm-2Bt7sPjq-2B-2BmkofAPHm-2B4S8EnubhdReeHR0HbqE5qRB3oPewpXRpKYWjAxU8s86geSgWhYmzaZnrrjGwZYslxqjpiF3gX1dK0z4ttnR3Tw2bVKOiConzkvWu3xvXDiOBSUsJTsQlMUgLPbgktmbz46WFH1Y7-2BN9RTo20W0hye3tOLgiennqJE29KX6QlDB'
                                                    rel='noreferrer'
                                                    style='color: #f0c0c9'
                                                    target='_blank'
                                                  ><span style='color: rgb(0,36,81)'>clicar aqui</span></a></strong></span><span
                                                style='color: rgb(0,36,81)'
                                              ><strong>.</strong></span></span></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='font-size: 16px; line-height: 150%; font-family: Helvetica,Arial,sans-serif; color: #666666; padding: 9px 18px; word-break: break-word!important'
                                        >
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'><span
                                              style='font-size: 16px'
                                            >Nos vemos no app.<br />
                                              Um sorriso,</span></p>
                                          <p style='margin: 10px 0px; padding: 0px; line-height: 150%'><span
                                              style='color: #000068; font-size: 18px'
                                            ><strong>Pinguim</strong></span></p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1631730370/$umkqrg40imc'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='padding-top: 9px; padding-bottom: 9px'
                                        >
                                          <table
                                            border='0'
                                            cellpadding='0'
                                            cellspacing='0'
                                            width='100%'
                                            style='border-collapse: collapse; min-width: 100%; border-collapse: initial; border-top-style: dashed; border-top-width: 1px; border-top-color: #cccccc'
                                          >
                                            <tbody>
                                              <tr>
                                                <td><span></span></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='left'
                                          style='padding-top: 9px; padding-bottom: 9px'
                                        >
                                          <table
                                            border='0'
                                            cellpadding='0'
                                            cellspacing='0'
                                            width='100%'
                                            style='border-collapse: collapse; min-width: 100%; border-collapse: initial; border-top-style: none; border-top-width: 0px; border-top-color: #eaeaea'
                                          >
                                            <tbody>
                                              <tr>
                                                <td><span></span></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>