<center>
  <table
    align='center'
    border='0'
    cellpadding='0'
    cellspacing='0'
    height='100%'
    width='100%'
    id='v1m_3438953361143974757m_4916088137164360190x_bodyTable'
    style='border-collapse: collapse; height: 100%; margin: 0px; padding: 0px; width: 100%; border-collapse: collapse; width: 100%; height: 100%; margin: 0; padding: 0; background-color: #c0d3e2'
  >
    <tbody>
      <tr>
        <td
          align='center'
          valign='top'
          id='v1m_3438953361143974757m_4916088137164360190x_bodyCell'
          style='height: 100%; margin: 0px; padding: 0px; width: 100%; width: 100%; height: 100%; margin: 0; padding: 0; border-top: 0'
        >
          <table
            border='0'
            cellpadding='0'
            cellspacing='0'
            width='100%'
            style='border-collapse: collapse; border-collapse: collapse'
          >
            <tbody>
              <tr>
                <td
                  align='center'
                  valign='top'
                  style='background-color: transparent; border-top: 0; border-bottom: 0px; padding-top: 0px; padding-bottom: 0px'
                >
                  <table
                    border='0'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                    style='border-collapse: collapse; max-width: 600px!important; border-collapse: collapse; width: 100%; max-width: 600px!important; background-color: #ffffff'
                  >
                    <tbody>
                      <tr>
                        <td valign='top'>
                          <table
                            align='left'
                            border='0'
                            cellpadding='0'
                            cellspacing='0'
                            width='600'
                            style='border-collapse: collapse; width: 600px; border-collapse: collapse'
                          >
                            <tbody>
                              <tr>
                                <td
                                  valign='top'
                                  style='font-size: 16px; line-height: 110%; font-family: Helvetica,Arial,sans-serif; color: #666666'
                                >
                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1637317284/$6vth8qjtr48'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <p style='margin: 1rem 0'>
                                            Ola
                                            <span style='font-size: 18px; font-weight: bold;'> {{name}}</span>
                                            segue o seu resumo semanal:
                                          </p>
                                          <ul style='margin: 1rem; text-align: left; list-style-type: none;'>

                                            <li style='margin: 0.9rem 0;'>
                                              <span
                                                style='font-size: 18px; color: #ff97a6; font-weight: bold;'
                                              >{{likes}}</span>
                                              novas pessoas curtiram suas postagens</li>

                                            <li style='margin: 0.9rem 0;'><span
                                                style='font-size: 18px; color: #ff97a6; font-weight: bold;'
                                              >{{comments}}</span>
                                              comentários novos em suas postagens</li>

                                          </ul>

                                          <p style='margin: 2rem; font-size: 13px;'>
                                            Continue interagindo em nossa plataforma para encontrar novas companhias e
                                            pacotes de viagens
                                          </p>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <table
                                    width='100%'
                                    border='0'
                                    cellspacing='0'
                                    cellpadding='0'
                                    style='border-collapse: collapse; border-collapse: collapse!important'
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor='transparent'
                                          align='center'
                                          style='padding-top: 9px; padding-bottom: 9px; padding-left: 18px; padding-right: 18px'
                                        >
                                          <img
                                            width='564'
                                            border='0'
                                            style='border: 0px; height: auto; outline: none; text-decoration: none; vertical-align: bottom; border: 0; line-height: 100%; outline: none; display: block; max-width: 564px; height: auto'
                                            src='https://d335luupugsy2.cloudfront.net/cms/files/152178/1631730370/$umkqrg40imc'
                                          />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>